# Configuration file

~CONFIG_VERSION: 0.1.0

world-78688046 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=stone
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1544803905 {
    S:filterText=
}


world784711666 {
    # IF AND ONLY IF recipe bookmarks are enabled, allow autocrafting with them.
    B:autocraftingEnabled=true

    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Default item to use to fill up fluids when clicking on a fluid ingredient in the menu, (format: item_name@meta)
    S:defaultFluidContainerItem=

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=andes

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true

    # IF AND ONLY IF recipe bookmarks are enabled, allow autocrafting with them.
    B:recipeBookmarksEnabled=true
}


world784711697 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=diori
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world784711728 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=stone
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world784711759 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=axe
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world784711790 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=axe
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world784711821 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=nature
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world95458899 {
    # IF AND ONLY IF recipe bookmarks are enabled, allow autocrafting with them.
    B:autocraftingEnabled=true

    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Default item to use to fill up fluids when clicking on a fluid ingredient in the menu, (format: item_name@meta)
    S:defaultFluidContainerItem=

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=koma

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true

    # IF AND ONLY IF recipe bookmarks are enabled, allow autocrafting with them.
    B:recipeBookmarksEnabled=true
}


