# Configuration file

~CONFIG_VERSION: v0.56.7

counters {
    I:lastGridStorage=1
    I:lastPlayer=1
}


gridstorage {
}


orderedvalues {
    I:presses=9
}


players {
    I:bb2d0351-fd0f-43fb-a84a-c291b43e6b9e=0
}


